<% @event.eventcomments.each do |eventcomment| %>
  <p>
    <strong>Commenter:</strong>
    <%= eventcomment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= eventcomment.body %>
  </p>

<p>
    <strong>Contact:</strong>
    <%= eventcomment.contact %>
  </p>

<% end %>

<h2>Add a comment:</h2>
<%= form_for([@event, @event.eventcomments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

 <p>
    <%= f.label :contact %><br>
    <%= f.text_area :contact %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>