<p>The Food-feed<br>Take what you need. Give what you don't. </p>


<%= link_to '<button>Back</button>'.html_safe, controller: 'welcome' %>
<p> <%= link_to '<button>Add an item</button>'.html_safe, new_foodfreecycle_path %></p>
<p style="font-size:10px"><%= link_to 'Get Email Updates'.html_safe, new_user_registration_path %> </p>

<table>
<thread>

  <tr>
    <th style="padding:3px 7px 3px 7px;">Status:</th>
    <th style="padding:3px 7px 3px 7px;">Food:</th>
    <th style="padding:3px 7px 3px 7px;">location:</th>
    <td style="padding:5px 30px 5px 30px; font-size:12px">Contact</th>
    <th style="padding:3px 7px 3px 7px;">Date added</th>
    <!--<th>description</th> -->
   
  </tr>

</thread>

<tbody>
  <% @foodfreecycles.each do |foodfreecycle| %>

    <tr> 
      <p>
      <td style="padding:5px 30px 5px 30px;font-weight:bold"><%= foodfreecycle.status %></td> <!-- green  if wanted it is orange if offered green-->
      <td style="padding:5px 30px 5px 30px; font-size:12px"><%= foodfreecycle.food %></td>
      <td style="padding:5px 30px 5px 30px; font-size:12px"><%= foodfreecycle.location %></td>
    <!-- <td><%= foodfreecycle.description %></td> -->
  <td style="padding:5px 30px 5px 30px; font-size:12px"><%= foodfreecycle.email %></td>
      <!--<td><%= image_tag foodfreecycle.image.url(:thumb) %></td> -->
    <td style="padding:5px 30px 5px 30px; font-size:12px">
    <%= foodfreecycle.created_at.strftime("%b %d, %l %p ,%Y") %>
    
    <td>

 <td style="padding:5px 10px 5px 10px;font-size:9px"><%= link_to 'Show', foodfreecycle_path(foodfreecycle) %></td>
      <td style="padding:5px 10px 5px 10px; font-size:9px"><%= link_to 'Edit', edit_foodfreecycle_path(foodfreecycle) %></td>
      <td style="padding:5px 10px 5px 10px; font-size:9px"><%= link_to 'Delete', foodfreecycle_path(foodfreecycle),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>

    </tr>
  </tbody>
  </span>
  <% end %>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75081313-1', 'auto');
  ga('send', 'pageview');

</script>
