<body class="container events">
<%= link_to '<button>Back</button>'.html_safe, controller: 'welcome' %>

<p><br> Events that have recently happened in your area! </p>

<p><%= link_to '<button>Add a new event!</button>'.html_safe, new_event_path %></p>
<p style="font-size:10px"><%= link_to "View recent events".html_safe, "events/archive" %> - <%= link_to 'Get Email Updates'.html_safe, new_user_registration_path %> </p>



 <thread>
<table>
  <tr>
    <!-- <th style="padding:5px 10px 5px 10px;">Image:</th> -->
    <th style="padding:5px 10px 5px 10px;">image</th>
    <th style="padding:5px 10px 5px 10px;">Event:</th>
    <th style="padding:5px 10px 5px 10px;">Location:</th>
    <th style="padding:5px 10px 5px 10px;">description:</th>
    <th style="padding:5px 10px 5px 10px;">Event date:</th>
    <th style="padding:5px 10px 5px 10px;">Email or best contact:</th>
    <th style="padding:5px 10px 5px 10px;">Event comments:</th>
  </tr>
 </thread>

<%= render 'archive', archive: @past_events %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75081313-1', 'auto');
  ga('send', 'pageview');

</script>
</body>