title description location organiserdetails eventduration

<p>
  <strong>Title:</strong>
  <%= @archive.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @archive.description %>
</p>

<p>
	<strong>Location:</strong>
	<%= @archive.location %>
	</p>

<p>
	<strong>Organiserdetails:</strong>
	<%= @archive.organiserdetails %>
	</p>

	<p>
	<strong>Event_duration:</strong>
	<%= @archive.eventduration %>
	</p>


